<?xml version="1.0"?>
<settings>
  <pluginGroups>
    <pluginGroup>org.mule.tools</pluginGroup>
  </pluginGroups>
   <servers>
    <server>
        <id>Exchange2</id>
        <username>~~~Client~~~</username>
        <password>${ANYPOINT_CLIENT_ID}~?~${ANYPOINT_CLIENT_SECRET}</password>
    </server>
   </servers>
</settings>